body {
    margin: 0;
    padding: 0;
    background-color: #7dbeff !important;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -265px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    padding-bottom: 15px;
    padding-top: 10px;
    color: white;
}

.container_content {
    min-height: 80%;
    background-color: #7dbeff !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 45rem;
}

.question_picture {
    height: 400px;
    object-fit: cover;
}

.btn-width {
    width: 50%;
}

.next-question {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    margin: 10px;
}

.quiz-answer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.end-screen-picture {
    height: 580px;
    object-fit: cover;
}

.end {
    text-align: center;
}

.margin-top {
    margin-top: 10px;
}

.repeat {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}